{% load staticfiles i18n %}
<html>
	<head>
	    <title>
	    	{% block title %}
	    		{% trans "Home" %}
	    	{% endblock title %}
	    </title>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
	    <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
	</head>
	<body>
		<div class="container">
			{% block menu %}
				{% include "navigation.html" %}
			{% endblock menu %}
			{% block content %}
			{% endblock content %}
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	</body>
</html>
